@{
ViewData["Title"] = "Home Page";
}
<div class="table-responsive table--no-card m-b-30">
    <table class="table table-borderless table-striped table-earning">
        <thead>
            <tr>
                <th>Starting point</th>
                <th>Ending point</th>
                <th>Date</th>
                <th>time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>56.3 33.5</td>
                <td>56.3 33.5</td>
                <td>2020-03-10</td>
                <td>11:00</td>
            </tr>
            <tr>
                <td>56.3 33.5</td>
                <td>56.3 33.5</td>
                <td>2020-03-10</td>
                <td>11:00</td>
            </tr>
            <tr>
                <td>56.3 33.5</td>
                <td>56.3 33.5</td>
                <td>2020-03-10</td>
                <td>11:00</td>
            </tr>
            <tr>
                <td>56.3 33.5</td>
                <td>56.3 33.5</td>
                <td>2020-03-10</td>
                <td>11:00</td>
            </tr>
        </tbody>
    </table>
</div>